/Capítulo 5/TextureShaders/nbproject/private/
/Capítulo 7/CameraManipulations/nbproject/private/
/Capítulo 7/CameraInterpolations/nbproject/private/
/Capítulo 7/CameraShake/nbproject/private/
/Capítulo 7/MultipleCameras/nbproject/private/
/Capítulo 7/MouseInput/nbproject/private/
/Capítulo 7/NotUsed-LineSupport/nbproject/private/